@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@plugin "tailwindcss-animated";

*{
    font-family: "Poppins", sans-serif;

    font-style: normal;
}

@theme{
    --color-nexus-primary: #10B981;
    --color-nexus-secondary: #1DBD88;
    --color-nexus-dark: #047857;
    --color-nexus-light: #D1FAE5;
    --color-nexus-background: #F0FDF4;
    --color-nexus-surface: #FFFFFF;
    --color-nexus-text: #064E3B;
    --color-nexus-muted: #4B5563;
    --color-nexus-border: #A7F3D0;
    --color-nexus-accent: #00B7A6;
}